{% extends 'base.html' %}
{% block nav %}

{% endblock %}
{% load static %}
{% block header %}
    <!-- Leave this block empty to exclude the header -->
{% endblock %}
{% block content %}
<div class="container-fluid bg-primary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 150px">
        <h3 class="display-3 font-weight-bold text-white">{{ department.name }}</h3>
        <div class="d-inline-flex text-white">
            <p class="m-0"><a class="text-white" href="{% url 'home' %}">Home</a></p>
            <p class="m-0 px-2">/</p>
            <p class="m-0">{{ department.name }}</p>
        </div>
    </div>
</div>

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">{{ department.name }}</h3>
                </div>
                <div class="card-body">
                    <p>{{ department.description }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
